*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #8d8d8d;
  overflow: hidden;
}

.loader{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 80px;
    height: 80px;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 68% 32% 47% 53% / 33% 81% 19% 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#logo {
    stroke: white;
    fill: white;
  /* animation: fill 2s ease-in-out forwards 15.5s; */
}

#logo path:nth-child(1) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 2s,  line 2s linear forwards 14s, fill 2s linear forwards 14.5s;
}
#logo path:nth-child(2) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 3s ,  line 2s linear forwards 13s, fill 2s linear forwards 13.5s;
}
#logo path:nth-child(3) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 4s ,  line 2s linear forwards 12s, fill 2s linear forwards 12.5s;
}
#logo path:nth-child(4) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 4s,  line 2s linear forwards 11s, fill 2s linear forwards 12.5s;
}
#logo path:nth-child(5) {
    opacity: 0;
  animation: fadeIn 2s ease forwards 5s ,  line 2s linear forwards 11s, fill 2s linear forwards 11.5s;
}
#logo path:nth-child(6) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 6s, line 2s linear forwards 10s, fill 2s linear forwards 10.5s;
}
#logo path:nth-child(7) {
    opacity: 0;
  animation: fadeIn 2.5s ease forwards 7s ,  line 2s linear forwards 11.5s, fill 2s linear forwards 12s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

@keyframes line {
    from {
      stroke: #fff;
    }
    to {
      stroke: #000;
    }
  }

@keyframes fill {
    from {
        fill: #fff;
    }
    to {
        fill: #000;
    }
}


  /* @keyframes top-title  {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: transparent;
    }
    50%{
        top: 30%;
        left: 35%;
        transform: translate(-30%, -35%) scale(1.4);
    }
    100%{
        top:5%;
        left: 35%;
        transform: translate(0%, -35%);
    }
  } */



/* ---------- Engrenage Container ---------- */

.engrenage{
    position: absolute;
    transform: translate(-50%, -50%);
}
.engrenage1{
    top: 37.2%;
    left:33.4%;
}
.engrenage2{
    top: 38.4%;
    left: 36.4%;
}
.engrenage3{
    top: 42.3%;
    left: 35.3%;
}

.big-gear{
    transform-origin: center;
    opacity: 1;
    animation: big-gear 20s infinite linear;
}

.medium-gear{
    transform-origin: center;
    opacity: 1;
    animation: medium-gear 20s infinite linear;
}

.small-gear{
    transform-origin: center;
    opacity: 1;
    animation: small-gear 20s infinite linear;
}

@keyframes big-gear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes medium-gear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes small-gear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
}

/* ---------- Pen ---------- */

.pen{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 27.5%;
    right: 27%;
    background: url("./svg/pen.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    offset-path: path("M199 48L1 1");
    transform: rotate(-180deg);
    opacity: 0;
    animation: writing 2s linear forwards 7s, follow-line 0.25s linear forwards 8.75s, disappear 1s linear forwards 11s;
}

.pen-line{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    right: 23.5%;
}

@keyframes writing {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    25%{
        opacity: 1;
        transform: translateX(-70%);
    }
    50%{
        opacity: 1;
        transform: translateX(70%);
    }
    75%{
        opacity: 1;
        transform: translateX(-90%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes follow-line {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
    }   
}


/* ---------- Ink ---------- */


section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

.encrier{
    position: relative;
    top: 30%;
    left: 62%;
    width: 100px;
    height: 100px;
    background: #444;
    border-radius: 50%;
    border: 2px solid transparent;
    transform-origin: bottom center;
    box-shadow: 0px 2px 4px #000;
    opacity: 0;
    animation: appearfromtop 1s linear forwards 7s, balance 2s linear forwards 8s, disappear 1s linear forwards 12s;
}

@keyframes balance {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-80deg);
    }
    
}

.encrier::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 20px;
    border: 5px solid #818181;
    border-radius: 50%;
    box-shadow: 0 5px #222;
}

.encrier::after{
    content: "";
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 20px;
    background: #81818115;
    border-radius: 50%;
}

.liquid{
    position: absolute;
    top: 51%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform-origin: top center;
    opacity: 0;
    animation: appearfromtop 1s linear forwards 6s, balanceLiquid 1.5s linear forwards 8s, disappear 1s linear forwards 12s;

}

@keyframes balanceLiquid {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(60deg);
    }
    
}

.liquid::before{
    content:"";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 10px;
    background: rgb(36, 36, 36);
    border-radius: 50%;
}

@keyframes appearfromtop {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    50%{
        opacity: 1;
        transform: translateY(-25%);

    }
    100%{
        opacity: 1;
        transform: translateY(0%);

    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* ---------- Goutte ---------- */

.drop{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 38.5%;
    right: 44%;
    background: url("./svg/drop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    offset-path: path("M110.5 13.4999C110.5 13.4999 41.5005 -42 41.5 84.5C41.4995 211 1.5 290 1.5 290");
    transform: rotate(-90deg);
    opacity: 0;
    animation: drop 2s ease-out forwards 10s , followPathDrop 2s linear forwards 9.75s;
}

.line-drop{
    position: absolute;
    top: 39%;
    right: 30%;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes followPathDrop {
    to {
        offset-distance: 100%;
    }
    
}


/* ---------- cube container ---------- */

.icon-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.cube{
    height: 150px;
    position: absolute;
    top: 51.5%;
    right:27.5%;
    transform: translate(-50%, -50%);

}

.cube1{
    animation: cube 1s ease-in-out forwards 15s;
    opacity: 0;
    box-shadow: 10px 20px 10px #000;
}

.cube2{
    animation: cube 1s ease-in-out forwards 16s;
    opacity: 0;
}
.cube3{
    animation: cube 1s ease-in-out forwards 17s;
    opacity: 0;
}

@keyframes cube {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    33% {
        opacity: 1;
        transform: translateY(0%);
        
    }
    66% {
        opacity: 1;
        transform: translateY(-25%);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0%);
    }

}


/* ---------- Plane ---------- */

.plane{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5%;
    left: 42%;
    background: url("./svg/plane.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    offset-path: path("M0 369.5H620C620 369.5 780.5 359 909 308.5C1037.5 258 1180 165 1180 165L1296.5 83L1413 1");
    opacity: 0;
    animation: apparition 2s linear forwards 18s, follow-path 3s linear forwards 19s;
}

@keyframes apparition {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes follow-path {
    to {
        offset-distance: 100%;
    }
    
}



